.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid #E89E35;
}

.recovered{
    border-bottom: 10px solid #E47B39;
}

.deaths{
    border-bottom: 10px solid #b8491a;
}

.color {
    color: #E89E35;
    font-weight: bolder;
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}