@import url('https://fonts.googleapis.com/css?family=BioRhyme Expanded');

body{
    background-image: url('images/covid-19-background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'BioRhyme Expanded' !important;
}

.container{
    background-color: rgba(0, 0, 0, 0.6);
    margin: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'BioRhyme Expanded' !important;
}

.image {
    width: 110px;
    margin-top: 80px;
    margin-bottom: -15px;
}

.heading {
    color: white;
    font-family: 'BioRhyme Expanded';
    font-weight: bolder;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .heading {
        width: 100%;
    }
    .head {
        size: 60%;
    }
}